<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,419},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bear_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bear_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bear_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,110},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bear_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,66},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bear_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,22},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>title_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{219,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,171}}</string>
                <key>sourceSize</key>
                <string>{219,171}</string>
            </dict>
            <key>title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{219,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,171}}</string>
                <key>sourceSize</key>
                <string>{219,171}</string>
            </dict>
            <key>title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,171}}</string>
                <key>sourceSize</key>
                <string>{219,171}</string>
            </dict>
            <key>wheels_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>wheels_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,175},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>wheels_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,175},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>wheels_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Swing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93ae2aa8e0d45d6f4d08887679dc1be$</string>
            <key>textureFileName</key>
            <string>Swing.png</string>
        </dict>
    </dict>
</plist>
