<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{146,144}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{146,110}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{146,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,414},{146,108}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{146,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,460},{146,106}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{146,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,118},{168,88}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{168,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{178,114}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{178,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,148},{146,142}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{146,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,208},{146,130}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{146,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{174,122}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{174,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{180,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,340},{146,118}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{146,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{146,124}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,292},{146,120}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{146,110}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{146,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trym.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a3d368d4140edfc72245d1cd6a6471b$</string>
            <key>textureFileName</key>
            <string>trym.png</string>
        </dict>
    </dict>
</plist>
